/*
font-family:'Ubuntu', sans-serif;
*/
html,
body,
div,
input,
textarea,
label,
h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
ul,
hr,
p,
img,
fieldset,
button,
iframe,
select,
header,
footer,
nav,
section,
b{
	border:0;
	padding:0;
	margin:0;
	text-decoration:none;
	list-style:none;
	font-weight:normal;
	outline:none;
}
html,
body{
	min-width:760px;	
}
body{		
	background:#FFFFFF;		
	font-family:'Ubuntu', sans-serif;
	font-weight:400;
}
.clear{
	clear:both;
}
.full{	
	max-width:1000px;	
	margin:0 auto;
}

/* loader */
#loader{
	width:100%;	
	background:#F9FDF7;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#F9FDF7), to(#E3F1D4));
	background-image:-moz-linear-gradient(top, #F9FDF7, #E3F1D4);
	position:fixed;
	top:0;
	left:0;
	z-index:60;
}
#loader div{
	width:233px;
	height:75px;
	margin:0 auto;
}
#loader div p{	
	font-size:11px;
	color:#80C342;
	text-align:center;
}
#loader div img{
	margin:0 auto;
	display:block;
}
/* :loader */

/* mask */
.mask{
	width:100%;	
	background:rgba(127, 194, 65, 0.9);
	position:fixed;
	top:0;
	left:0;	
	z-index:100;
	display:none;
}
#return{
	width:100%;
	height:128px;
	background:#FFFFFF;
	border-top:#D8D8D8 3px solid;
	border-bottom:#D8D8D8 3px solid;
	margin:0 auto;
	position:relative;
	z-index:11;
	box-shadow:0 0 20px 10px rgba(0, 0, 0, 0.1);
}
#return b{
	width:100%;
	font-size:25px;
	color:#6D6D6D;
	text-align:center;
	text-shadow:1px 1px 0 rgba(0, 0, 0, 0.2);
	margin:35px 0px 0px 0px;
	display:block;
}
#return p{
	width:100%;
	font-size:16px;
	color:#6D6D6D;
	text-align:center;
	text-shadow:1px 1px 0 rgba(0, 0, 0, 0.2);
	margin:0px 0px 0px 0px;
	display:block;
}
/* :mask */

header{
	width:100%;	
}
#bar{
	width:100%;
	height:564px;	
}
#bar #bgBar{
	width:100%;
	height:58px;
	position:fixed;
	z-index:14;
	top:0;
	left:0;	
}
#baxFixed{
	width:1000px;
	position:fixed;
	z-index:15;
}
#bar #bgBar::before{
	content:'';
	width:50%;
	height:58px;
	background:#FFFFFF;
	float:left;
}
#bar #bgBar::after{
	content:'';
	width:50%;
	height:58px;	
	background:rgba(0,0,0,0.6);
	float:right;
}
#bar .full{	
	max-width:1000px;
	position:relative;
	z-index:14;	
}
#bar a{
	width:198px;
	height:41px;	
	margin:10px 15px 0px 0px;
	display:block;
	float:left;
}
#bar a img{
	width:100%;	
}
#bar p{
	width:149px;
	height:26px;
	line-height:26px;
	background:#7FC241;
	margin:17px 0px 0px 0px;
	border-radius:5px;
	font-size:16px;
	color:#FFFFFF;	
	font-style:italic;
	font-weight:700;
	text-align:center;	
	display:block;
	float:left;
}
#bar span{		
	margin:20px 70px 0px 0px;	
	font-size:18px;
	color:#A7FF55;	
	font-style:italic;		
	font-weight:700;
	display:block;
	float:right;
}
#bar span b{		
	width:19px;
	height:19px;
	background:url('../images/sprite.png') no-repeat 0px 0px;
	margin:0px 8px 0px 8px;		
	position:relative;
	top:3px;
	display:inline-block;	
}
#bar #banner{
	width:100%;
	height:564px;
	background:url('../images/banner.jpg') no-repeat center center;
	background-size:cover;
	position:absolute;
	display:block;
	z-index:1;	
}
#bar #banner h1{
	width:460px;		
	margin:363px 0px 0px 0px;	
	font-size:45px;
	color:#FFFFFF;	
	font-style:italic;		
	font-weight:300;
	display:block;	
}
#bar #banner hr{
	width:400px;
	height:1px;	
	background:url('../images/point_white.png') repeat-x 0px 0px;
	margin:17px 0px 24px 0px;		
	display:block;	
}
#bar #banner h2{		
	font-size:22px;
	color:#FFFFFF;	
	font-style:italic;		
	font-weight:700;
	display:block;	
}
#bar #banner .box{
	width: 260px;
	height: 92px;
	background: #7FC241;
	margin: -141px 0px 0px 480px;
	border-radius:5px;		
	display:block;	
}
#bar #banner div span{
	width:260px;
	height:92px;	
	background:#7FC241;
	margin:0;
	border-radius:5px;		
	display:block;	
}
#bar #banner div span::before{
	content:'';
	width:68px;
	height:75px;	
	background:url('../images/sprite.png') repeat-x -20px 0;
	margin:8px 0px 0px 17px;	
	display:block;	
	float:left;
}
#bar #banner div span p{
	width:162px;
	height:92px;	
	background:#6BA337;	
	border-radius:5px;	
	margin:0;	
	display:block;	
	float:right;
}
#bar #banner div span p b{	
	width: 95%;
	height: 55px;
	background: none;
	font-size: 14px;
	text-align: left;
	color: #FFFFFF;
	font-style: italic;
	font-weight: 400;
	margin: 7px auto 0px auto;
	top: 0;
	display: block;
}
#form{
	width:26%;	
	background:rgba(0,0,0,0.1);
	position:fixed;
	top:58px;
	right:0;		
	z-index:30;
}
#form #formContact{
	width:235px;	
	position:relative;
	position:absolute;	
	z-index:11;
}
#form #formContact .top{
	width: 222px;
	height: 35px;
	line-height: 33px;
	background: url('../images/smartphone.png') no-repeat bottom center;
	font-size: 14.5px;
	color: #000000;
	font-weight: 700;
	text-align: center;
	position: absolute;
	margin: 21px 0px 0px 21px;
	display: block;
	text-transform: uppercase;
}
#form #formContact form fieldset{
	width: 100%;
	background: rgba(0,0,0,0.7);
	border-radius: 5px;
	margin: 21px 0px 0px 14px;
	display: block;
}
#form #formContact form fieldset .image{
	width:165px;
	height:110px;	
	background:url('../images/sprite.png') no-repeat -89px 0px;	
	position:relative;
	margin:0px auto;
	top:65px;
	display:block;	
}
#form #formContact form fieldset hr{
	width:80%;
	height:1px;
	background:url('../images/point_white.png') repeat-x 0px 0px;
	margin:84px auto 15px auto;
	display:block;	
}
#form #formContact form p{			
	font-size:18px;
	color:#A7FF55;
	font-weight:700;
	text-align:center;	
	margin:0px 0px 15px 0px;
	display:block;	
}
#form #formContact form fieldset input[type='text']{
	width:203px;
	height:30px;
	line-height:30px;
	background:#FFFFFF;
	border-radius:5px;
	font-size:13px;
	color:#363636;
	text-indent:5px;
	margin:0px auto 16px auto;
	display:block;
}
#form #formContact form fieldset input[type='submit']{
	width:203px;
	height:41px;	
	background:url('../images/sprite.png') no-repeat -271px -141px;	
	border-radius:5px;
	font-size:13px;
	color:#363636;	
	text-indent:-9999px;	
	margin:6px auto 19px auto;
	cursor:pointer;
	display:block;
}
#form #formContact form fieldset input[type='submit']:hover{
	opacity:0.8;
}
header .title{
	width:100%;
	height:64px;
	line-height:64px;
	background:#7FC241;
	font-size:24px;
	color:#FFFFFF;	
	font-style:italic;	
	font-weight:bold;		
}
section #icons{
	width:100%;
	height:305px;	
	background:#E1E1E1;	
}
section #icons em {
	font-size: 10px;
	font-style: normal;
	margin: 9px 0px 0px 0px;
	display: inline-block;
}
section #icons .box{
	width:740px;		
}
section #icons .box ul li{
	width:33.3%;	
	display:block;
	float:left;
}
section #icons .box ul li span{
	width:80%;	
	height:143px;
	background:#D7D7D7;
	border-radius:3px;	
	box-shadow:4px 4px 3px 2px #8C8C8C;
	margin:19px 0px 0px 0px;
	position:relative;
	z-index:5;
	display:block;
	float:left;
}
section #icons .box ul li span::before{	
	content:'';	
	width:103px;
	height:103px;		
	margin:21px auto 0px auto;	
	display:block;		
}
#theft span::before{	
	background:url('../images/sprite_icons.png') no-repeat -208px 0;	
}
#broken span::before{	
	background:url('../images/sprite_icons.png') no-repeat 0 0;	
}
#liquid span::before{	
	background:url('../images/sprite_icons.png') no-repeat -104px 0;	
}
#authorize span::before{	
}
section #icons .box ul li .boxContent{
	width:82%;	
	height:107px;
	background:#EBEBEB;
	border:#989898 1px dotted;
	margin:-1px 0px 0px 0px;
	display:block;
	float:left;
}
section #icons .box ul li .boxContent b{	
	width:36px;
	height:36px;
	background:url('../images/sprite.png') no-repeat -52px -76px;
	margin:11px auto 0px auto;	
	display:block;	
}
section #icons .box ul li .boxContent p{
	width:75%;
	text-align:center;
	font-size:16px;
	color:#555555;
	font-style:italic;	
	margin:10px auto 0px auto;
	display:block;
}
section #icons .box ul li .boxHidden{
	width: 205px;
	background: rgba(0,0,0,0.8);
	border: #C2C2C2 1px solid;
	margin: 198px 0px 0px -2px;
	box-shadow: 0 0 20px 2px #535353;
	z-index: 6;
	position: absolute;
	display:none;
}
section #icons .box ul li .boxHidden h2,
section #icons .box ul li .boxHidden p{
	width:90%;	
	margin:0 auto;
	display:block;
}
section #icons .box ul li .boxHidden h2{	
	font-size:14px;
	color:#FF6600;
	padding:5px 0px;
	font-weight:700;	
}
section #icons .box ul li .boxHidden p{
	font-size:13px;
	color:#FFFFFF;
	font-weight:300;
	text-align:left;
	font-style:normal !important;	
	padding:0px 0px 5px 0px;	
}
#contact{
	width:100%;
	height:197px;
	background:#F1F1F1;
}
.boxContact .box{
	width:250px;
	height:136px;	
	background:#464646;
	margin:30px 0px 0px 0px;
	border-radius:5px;	
	display:block;
	float:left;
}
.boxContact .box span{
	width:125px;
	height:136px;	
	background:#7FC241;	
	border-radius:5px;
	display:block;
	float:left;
}
.boxContact .box span::before{
	content:'';
	width:106px;
	height:113px;	
	background:url('../images/sprite.png') no-repeat 0px -323px;
	margin:12px 0px 0px 10px;
	display:block;	
}
.boxContact .box{	
	position:relative;
	z-index:5;
}
.boxContact .box div{	
	width:116px;
	margin:21px 0px 0px 4px;
	float:left;
}
.boxContact .box div p{	
	width:100%;
	height:16px;
	line-height:16px;	
	font-size:13px;
	color:#FFFFFF;
	font-style:italic;
	font-weight:400;	
	margin:0 auto;	
	display:block;		
}
.boxContact .box div p b{		
	font-weight:700;
	color:#A7FF55;
}
.boxContact .box div hr{
	width:90%;
	height:1px;
	background:url('../images/point_white.png') repeat-x 0px 0px;
	margin:14px auto;
	display:block;	
}
.boxContact .box div h3{		
	font-size:18px;
	color:#A7FF55;
	font-style:italic;
	font-weight:700;	
	margin:0 auto;	
	display:block;		
}
.boxContact .text{
	width:488px;	
	height:134px;
	background:#FFFFFF;
	border:#7FC241 1px dotted;
	margin:30px 0px 0px -2px;
	display:block;
	float:left;
}
.boxContact .text p{
	width:372px;		
	font-size:28px;	
	color:#7FC241;
	font-weight:400;
	font-style:italic;
	text-align:center;
	margin:34px auto 12px auto;
	display:block;	
}
.boxContact .text p b{	
	font-size:32px;	
	color:#464646;
	font-weight:700;	
	display:inline-block;	
}
.boxContact .text span{
	width:372px;	
	height:21px;
	line-height:21px;
	background:#7FC241;
	font-size:15px;	
	color:#FFFFFF;
	font-weight:700;
	font-style:italic;
	text-align:center;
	margin:0 auto;
	display:block;	
}
#need{
	width:100%;
	background:#FFFFFF;
}
#need .box{
	max-width:740px;	
}
#need .box h3{
	width:100%;
	font-size:24px;
	color:#464646;
	font-weight:400;
	font-style:italic;
	margin:29px 0px 0px 0px;
	display:inline-block;
}
#need .box hr{	
	width:100%;
	height:0;	
	border-bottom:#949494 1px dotted;
	margin:9px 0px;
	display:block;
}
#need .box p{
	width:100%;
	font-size:16px;
	color:#555555;
	font-weight:400;
	font-style:italic;
	padding:0px 0px 25px 0px;
	display:inline-block;
}
#need .box p b{
	font-weight:700;
	color:#7FC241;
}
#need .box em{	
	font-size:10px;
	color:#000000;
	padding:0px 0px 25px 0px;
	display:inline-block;
}
#question{
	width:100%;
	min-height:64px;
	background:#464646;
	margin:0px 0px 2px 0px;
}
#question p{
	width:100%;
	font-size:24px;
	color:#A7FF55;
	font-weight:700;
	font-style:italic;
	padding:23px 0px;
	display:block;
}
#question p b{	
	font-size:14px;
	color:#FFFFFF;	
	display:inline-block;
}
#boxReply li{
	width:100%;	
	margin:0px 0px 2px 0px;
	background:#FFFFFF;
	display:block;
	float:left;
}
#boxReply li .lightGreen,
#boxReply li .darkGreen{
	width:100%;
	height:35px;	
	display:block;
}
#boxReply .lightGreen{
	background:#7FC241;
}
#boxReply .darkGreen{
	background:#6BA337;
}
#boxReply li a{
	width:23px;
	height:23px;
	background:url('../images/sprite.png') repeat-x -28px -100px;
	margin:6px 4px 0px 0px;
	display:block;
	float:left;
}
#boxReply li a:hover{
	opacity:0.8;
}
#boxReply li .selected{	
	background:url('../images/sprite.png') repeat-x -28px -76px !important;	
}
#boxReply li h3{	
	line-height:35px;	
	font-size:18px;
	color:#FFFFFF;
	font-weight:400;
	font-style:italic;	
	display:block;
	float:left;
}
#boxReply li .full span{	
	max-width:740px;	
	font-size:14px;
	color:#555555;
	font-weight:400;
	font-style:italic;
	padding:10px 0px 20px 0px;
}
#boxReply span{
	display:none;
	float:left;
}
#boxReply .view span{
	display:block;
}
#credit{
	width:100%;	
	background:#E1E1E1;
}
#credit .box{
	max-width:740px;	
}
#credit .box h3{
	width:100%;
	font-size:24px;
	color:#464646;
	font-weight:400;
	font-style:italic;
	margin:29px 0px 0px 0px;
	display:inline-block;
}
#credit .box h3 b{		
	font-weight:700;	
	display:inline-block;
}
#credit .box hr{	
	width:100%;
	height:0;	
	border-bottom:#949494 1px dotted;
	margin:9px 0px;
	display:block;
}
#credit .box ul li{	
	width:31%;
	display:block;
	margin:0px 3.4% 0px 0px;
	padding:0px 0px 20px 0px;
	float:left;
}
#credit .box ul li div{	
	width:100%;
	height:265px;
	background:#EBEBEB;
	border:#949494 1px dotted;
	display:block;	
}
#credit .box ul #contract{	
	margin:0 !important;
}
#credit .box ul li span{	
	width:128px;
	height:118px;	
	margin:22px 23% 0px 23%;
	display:block;
}
#credit .box ul #client span{	
	background:url('../images/sprite.png') no-repeat -107px -323px;		
}
#credit .box ul #business span{	
	background:url('../images/sprite.png') no-repeat -236px -323px;		
}
#credit .box ul #contract span{	
	background:url('../images/sprite.png') no-repeat -365px -323px;		
}
#credit .box ul li hr{	
	width:85%;
	height:0;	
	border:0;
	border-top:#949494 1px dotted;
	margin:18px auto 16px auto;
	display:block;	
}
#credit .box ul li p{
	width:85%;
	font-size:16px;
	color:#555555;
	font-weight:400;
	font-style:italic;
	text-align:center;
	margin:0 auto;
	display:block;
}
#credit .box ul li p b{	
	font-weight:700;	
}
#barPromote{
	max-width:739px;	
	background:#FFFFFF;
	border:#A8A8A8 1px dashed;
	margin:16px 0px 0px 0px;
}
#barPromote a::before{
	content:'';
	width:43px;
	height:43px;
	background:url('../images/sprite.png') no-repeat -41px -133px;	
	margin:15px auto 8px auto;
	display:block;
}
#barPromote a{
	width:100%;
	font-size:22px;
	color:#464646;	
	padding:0px 0px 14px 0px;
	text-align:center;
	display:block;
}
#barPromote a p{	
	color:#3B5998;	
	display:inline-block;
}
#barPromote a:hover p{
	color:#8A8A8A;
}
#footerContent{
	width:100%;
	margin:36px 0px 0px 0px;
	float:left;
}
#footerContent a{
	width:224px;
	height:108px;
	display:block;
	margin:0px 12px 0px 0px;
	float:left;
}
#footerContent a::after{
	content:'';
	width:0;
	height:120px;
	border-right:#8A8A8A 1px dashed;
	display:block;
	float:right;
}
#footerContent a img{
	width:198px;	
	margin:33px 0px 0px 14px;
	display:block;	
	float:left;
}
#footerContent p{
	width:502px;
	margin:0px 0px 14px 0px;
	font-size:9px;
	font-family:arial;
	color:#636363;
	text-align:justify;
	display:block;	
	float:left;
}
