/*
font-family:'PT Sans', sans-serif;
*/
html,
body,
div,
input,
textarea,
label,
h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
ul,
hr,
p,
img,
fieldset,
button,
iframe,
select,
header,
footer,
nav,
section,
b{
	border:0;
	padding:0;
	margin:0;
	text-decoration:none;
	list-style:none;
	font-weight:normal;
	outline:none;
}
body{		
	background:#FFFFFF;		
	font-family:'PT Sans', sans-serif;
}
.clear{
	clear:both;
}
.full{	
	width:760px;	
	margin:0 auto;
}
header{
	width:100%;
	height:72px;	
}
header .logo{
	width:233px;
	height:49px;
	background:url('../images/logo.png') no-repeat center center;
	margin:13px 0px 0px 0px;
	display:block;
	float:left;
}
header p{	
	line-height:72px;
	font-size:17px;
	color:#80C342;
	font-weight:700;	
	display:block;
	float:right;
}
#cover{
	width:100%;
	height:463px;
	background:url('../images/cover.jpg') no-repeat center center;
	background-size:cover;	
}
#cover h1{	
	width:278px;
	font-size:30px;
	color:#FFFFFF;
	font-weight:400;
	margin:70px 0px 0px 80px;
	display:inline-block;
	line-height:30px;	
}
#bgBar{
	width:100%;
	height:67px;	
}
#bar{
	width:100%;
	height:67px;
	background:#ECEFEA;	
	top:0;
	left:0;
}
#bar p{
	width:200px;
	font-size:16px;
	line-height: 17px;
	color:#80C342;
	display:block;
	float:left;
}
#bar p b{	
	font-weight:700;	
	margin:16px 0px 0px 0px;
	display:block;
}
#bar form fieldset{	
	display:block;
	float:left;
}
#bar form fieldset input[type='text']{	
	width:154px;
	height:22px;
	line-height:22px;
	background:none;
	border:#80C342 1px solid;
	font-size:12px;
	color:#80C342;
	text-indent:5px;
	margin:21px 7px 0px 0px;
	display:block;
	float:left;
}
#bar form fieldset input[type='text']:focus{
	border-color:#969696;
}
#bar form fieldset input[type='submit']{	
	width:86px;
	height:24px;
	line-height:24px;
	background:url('../images/button.png') no-repeat 64px 5px #80C342;
	border:#80C342 1px solid;
	font-size:14px;
	color:#FFFFFF;
	font-weight:700;
	text-indent:12px;
	margin:21px 7px 0px 0px;
	cursor:pointer;
	text-align:left;
	display:block;
	float:left;
}
#bar form fieldset input[type='submit']:hover{		
	background:url('../images/button.png') no-repeat 64px 5px #6BB62F;	
}
#bar a{		
	font-size:12px;
	color:#80C342;
	font-weight:400;
	text-decoration:underline;
	margin:31px 7px 0px 20px;
	display:block;
	float:left;
}
#bar a:hover{		
	color:#419611;	
}
.part{
	width:100%;
	height:530px;
	background-size:cover !important;
	display:block;
}
.part h2{		
	font-size:30px;	
	font-weight:400;	
	display:inline-block;
}
.part p{		
	font-size:19px;	
	font-weight:400;		
	line-height:22px;
	display:inline-block;
}
#broken h2{		
	margin:156px 0px 0px 81px;	
}
#broken p{		
	margin:0px 0px 0px 81px;
}
#broken h2,
#broken p{
	color:#FFFFFF;
}
#broken{	
	background:url('../images/medic.jpg') no-repeat center center;	
}
#liquid h2{		
	margin:173px 0px 0px 388px;
}
#liquid p{
	margin:7px 0px 0px 388px;
}
#liquid h2,
#liquid p{
	color:#A0B095;
}
#liquid{	
	background:url('../images/bag.jpg') no-repeat center center;	
}
#theft h2{		
	margin:183px 0px 0px 83px;
}
#theft p{		
	margin:19px 0px 0px 83px;
}
#theft h2,
#theft p{
	color:#FFFFFF;
}
#theft{	
	background:url('../images/children.jpg') no-repeat center center;	
}
#client h2{		
	margin:194px 0px 0px 82px;
}
#client p{	
	margin:-2px 0px 0px 82px;
}
#client h2,
#client p{
	color:#A0B095;
}
#client{	
	background:url('../images/client.jpg') no-repeat center center;	
}
#simplicity h2{		
	margin:163px 0px 0px 409px;
}
#simplicity p{		
	margin:-3px 0px 0px 409px;
}
#simplicity h2,
#simplicity p{
	color:#A0B095;
}
#simplicity{	
	background:url('../images/simplicity.jpg') no-repeat center center;	
}
.fixed{
	position:fixed !important;
}
footer #contact{
	width:100%;
	height:350px;
	background:#ECEFEA;
	display:block;
}
footer #contact h2{	
	font-size:27px;
	font-weight:400;
	color:#80C342;
	margin:54px 0px 33px 61px;
	display:inline-block;
	line-height:28px;
	float:left;
}
footer #contact p{
	width:100%;
	font-size:16px;
	color:#80C342;	
	float:left;
}
footer #contact p b{	
	font-weight:700;	
	margin:0px 3px 0px 66px;	
	float:left;
}
footer #contact form fieldset{	
	display:block;
	float:left;
}
footer #contact form fieldset input[type='text']{	
	width:154px;
	height:22px;
	line-height:22px;
	background:none;
	border:#80C342 1px solid;
	font-size:12px;
	color:#80C342;
	text-indent:5px;
	margin:21px 7px 0px 0px;
	display:block;
	float:left;
}
footer #contact form fieldset input[type='text']:first-child{		
	margin:21px 7px 0px 66px;	
}
footer #contact form fieldset input[type='text']:focus{
	border-color:#969696;
}
footer #contact form fieldset input[type='submit']{	
	width:156px;
	height:24px;
	line-height:24px;
	background:url('../images/button.png') no-repeat 46px 5px #80C342;
	border:#80C342 1px solid;
	font-size:14px;
	color:#FFFFFF;
	font-weight:700;
	text-indent:63px;
	text-transform:uppercase;
	margin:21px 7px 0px 0px;
	cursor:pointer;
	text-align:left;
	display:block;
	float:left;
}
footer #contact form fieldset input[type='submit']:hover{		
	background:url('../images/button.png') no-repeat 46px 5px #6BB62F;	
}
footer span{	
	margin:14px 0px 0px 555px;
	font-size:18px;
	color:#A0B095;
	font-weight:400;
	display:block;	
	float:left;
}
footer span b{		
	font-size:15px;
	color:#80c342;	
	font-weight:700;
}
footer span p{		
	font-size:13px !important;
	color:#A0B095 !important;	
	font-weight:700 !important;
}
footer .logo{
	width:233px;
	height:49px;
	background:url('../images/logo.png') no-repeat center center;
	margin:13px 0px 0px 66px;
	display:block;	
	float:left;
}
footer #info{
	width:100%;
	height:172px;
	margin:0px 0px 0px 0px;
}
footer #info p{	
	font-size:11px;
	color:#A0B095;
	font-weight:400;
	margin:0px 0px 0px 66px;
	display:inline-block;
	text-align:justify;
}
footer #info p:first-child{
	margin:54px 0px 18px 66px;
}
#loader{
	width:100%;	
	background:#F9FDF7;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#F9FDF7), to(#E3F1D4));
	background-image:-moz-linear-gradient(top, #F9FDF7, #E3F1D4);
	position:fixed;
	top:0;
	left:0;
	z-index:10;
}
#loader div{
	width:233px;
	height:75px;
	margin:0 auto;
}
#loader div p{	
	font-size:11px;
	color:#80C342;
	text-align:center;
}
#loader div img{
	margin:0 auto;
	display:block;
}
.mask{
	width:100%;	
	background:rgba(255, 255, 255, 0.9);
	position:fixed;
	top:0;
	left:0;	
	z-index:10;
	display:none;
}
#return{
	width:100%;
	height:128px;
	background:#80C342;
	border-top:#FFFFFF 3px solid;	
	border-bottom:#FFFFFF 3px solid;	
	margin:0 auto;
	position:relative;
	z-index:11;	
	box-shadow:0 0 10px 0 rgba(68, 68, 68, 0.3);
}
#return b{
	width:100%;
	font-size:25px;
	color:#FFFFFF;
	text-align:center;
	text-shadow:1px 1px 0 rgba(0, 0, 0, 0.45);
	margin:35px 0px 0px 0px;
	display:block;
}
#return p{
	width:100%;
	font-size:16px;
	color:#FFFFFF;
	text-align:center;
	text-shadow:1px 1px 0 rgba(0, 0, 0, 0.45);
	margin:0px 0px 0px 0px;
	display:block;
}
.buttonWhite{
	width:23px;
	height:12px;
	background:url('../images/button_white.png') no-repeat center center;
	position:absolute;	
	cursor:pointer;
}
.buttonGreen{
	width:23px;
	height:12px;
	background:url('../images/button_green.png') no-repeat center center;
	position:absolute;	
	cursor:pointer;
}
#bt1{
	margin:246px 0px 0px 80px;
}
#bt2{
	margin:186px 0px 0px 281px;
}
#bt3{
	margin:222px 0px 0px 554px;
}
#bt4{
	margin:180px 0px 0px 77px;
}
#bt5{
	margin:205px 0px 0px 76px;
}
#bt6{
	margin:216px 0px 0px 711px;
}

/* admin */
#logoAdm{
	margin:45px auto;
	display:block;
}
#formAcess,
#formGenerate,
#formLogout{
	width:233px;
	margin:0 auto;
	display:block;
}
#formAcess fieldset input[type='text'],
#formAcess fieldset input[type='password']{
	width:100%;
	height:33px;
	line-height:33px;
	background:none;
	font-size:12px;
	margin:0px 0px 10px 0px;
	color:#363636;
	border-radius:3px;
	border:#7FC241 1px solid;
	text-align:center;
	display:block;
}
#formAcess fieldset input[type='submit']{
	width:100%;
	height:35px;
	line-height:35px;
	background:#7FC241;
	font-size:12px;
	color:#FFFFFF;
	border-radius:3px;
	display:block;
	cursor:pointer;
}
#formAcess fieldset input[type='submit']:hover,
#formAcess fieldset input[type='submit']:active{	
	background:#6AB52E;	
}
#formGenerate input[type='submit'],
#formLogout input[type='submit']{
	width:100%;
	height:35px;
	line-height:35px;
	background:#7FC241;
	font-size:12px;
	color:#FFFFFF;
	margin:0px 0px 10px 0px;
	border-radius:3px;
	display:block;
	cursor:pointer;
}
#formLogout input[type='submit']{	
	background:#808080;	
}
#formGenerate input[type='submit']:hover,
#formGenerate input[type='submit']:active{	
	background:#6AB52E;	
}
#formLogout input[type='submit']:hover,
#formLogout input[type='submit']:active{	
	background:#6B6B6B;	
}
/* :admin */