/*
font-family:'PT Sans', sans-serif;
*/
html,
body,
div,
input,
textarea,
label,
h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
ul,
hr,
p,
img,
fieldset,
button,
iframe,
select,
header,
footer,
nav,
section,
b{
	border:0;
	padding:0;
	margin:0;
	text-decoration:none;
	list-style:none;
	font-weight:normal;
	outline:none;
}
body{		
	background:#FFFFFF;		
	font-family:sans-serif;
}
.clear{
	clear:both;
}
.full{	
	width:1000px;	
	margin:0 auto;
}

/* admin */
#logoAdm{
	margin:45px auto;
	display:block;
}
#formAcess,
#formGenerate,
#formLogout{
	width:233px;
	margin:0 auto;
	display:block;
}
#formAcess fieldset input[type='text'],
#formAcess fieldset input[type='password']{
	width:100%;
	height:33px;
	line-height:33px;
	background:none;
	font-size:12px;
	margin:0px 0px 10px 0px;
	color:#363636;
	border-radius:3px;
	border:#7FC241 1px solid;
	text-align:center;
	display:block;
}
#formAcess fieldset input[type='submit']{
	width:100%;
	height:35px;
	line-height:35px;
	background:#7FC241;
	font-size:12px;
	color:#FFFFFF;
	border-radius:3px;
	display:block;
	cursor:pointer;
}
#formAcess fieldset input[type='submit']:hover,
#formAcess fieldset input[type='submit']:active{	
	background:#6AB52E;	
}
#formGenerate input[type='submit'],
#formLogout input[type='submit']{
	width:100%;
	height:35px;
	line-height:35px;
	background:#7FC241;
	font-size:12px;
	color:#FFFFFF;
	margin:0px 0px 10px 0px;
	border-radius:3px;
	display:block;
	cursor:pointer;
}
#formLogout input[type='submit']{	
	background:#808080;	
}
#formGenerate input[type='submit']:hover,
#formGenerate input[type='submit']:active{	
	background:#6AB52E;	
}
#formGenerate fieldset label{
	width:100%;
	height:33px;
	line-height:33px;
	background:#E6F3D9;	
	font-size:12px;
	margin:0px 0px 10px 0px;
	color:#363636;
	border-radius:3px;
	border:#E6F3D9 1px solid;
	font-size:12px;
	color:#363636;
	text-transform:uppercase;
	text-align:center;
	cursor:pointer;
	display:block;
}
#formGenerate fieldset label:hover{	
	background:#DBEDCC;		
}
#formGenerate fieldset label input[type='radio']{
	width:12px;
	height:12px;	
	margin:10px 0px 0px 10px;
	position:absolute;
	display:block;	
}
#formLogout input[type='submit']:hover,
#formLogout input[type='submit']:active{	
	background:#6B6B6B;	
}
/* :admin */